{% extends 'base.html' %}
{% block content %}

<div id="login-card" class="card">
    <div id="login-body" class="card-body">
        <h1 class="display-4 mb-4">Login</h1>
            <form action="" method="post">
                <div class="form-group">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn" type="submit" value="Login">
                </div>
            </form>
            <p>If you don't have an account, <a href="/register">Register here!</a></p>
    
    </div>
</div>
{% endblock %}