alabaster==0.7.12
asgiref==3.2.7
astroid==2.4.0
Babel==2.8.0
beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
dj-database-url==0.5.0
Django==3.0.5
django-bootstrap4==2.2.0
django-computed-property==0.3.0
django-cors-headers==3.4.0
django-heroku==0.3.1
django-icons==2.1.0
djangorestframework==3.11.0
docutils==0.16
entrypoints==0.3
flake8==3.7.9
gunicorn==20.0.4
idna==2.10
imagesize==1.2.0
isort==4.3.21
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
packaging==20.4
psycopg2==2.8.5
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.6.1
pylint==2.5.0
pylint-django==2.0.15
pylint-plugin-utils==0.6
pyparsing==2.4.7
pytz==2020.1
requests==2.24.0
six==1.14.0
snowballstemmer==2.0.0
soupsieve==2.0.1
Sphinx==3.1.2
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse==0.3.1
toml==0.10.0
urllib3==1.26.5
whitenoise==5.1.0
wrapt==1.12.1
