{% extends 'base.html'%}
{% block content %}
{% csrf_token %}
{% comment %} <div class='sidebar-menu'>
    <a href="/notifications/">
        Notifications <span class='badge'>{{notifications|length}}</span>
    </a>
</div>
{% if request.user.is_authenticated %}
<a href="/logout">Logout</a>
{% endif %} {% endcomment %}

    
</div>
    <div class="container-fluid">
    {% for tweet in tweets %}
    <center>
    <div id="tweet-card" class="card">
        <div class="card-body">
            <p><a class="lead text-dark" href='/tweet/{{tweet.id}}'>{{tweet}}</a></p>
            <p id="tweet-author" class="text-right"><a class="text-muted" href="/user/{{tweet.author.id}}">{{tweet.author.username}}</a></p>
            <span id="tweet-date" class="text-right"><footer class="text-muted">posted: {{tweet.post_date}}</footer></span>
        </div>
    </div>
    </center>
    {% endfor %}

</div>
{% endblock %}